.goods{
	display: flex;
	
	position: absolute;
	top: 190px;
	bottom: 51px;
	
	overflow: hidden;
	width: 100%;
	
}

.goods .menu-wrapper{
	flex: 0 0 85px;
	background: #f4f4f4;
}

.goods .menu-wrapper .menu-item{
	padding: 16px 23px 15px 10px;
	border-bottom: 1px solid #E4E4E4;
}

.goods .menu-wrapper .menu-item .text{
	font-size: 13px;
	color: #333333;
	line-height: 17px;
	
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.goods .menu-wrapper .menu-item .text .icon{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.goods .foods-wrapper{
	flex: 1;
	background: blue;
}
